@page "/"
@using Magic8Ball.Components

@if (!DisplayMagic8Ball)
{
    <div @onclick="(() => DisplayMagic8Ball = true)">
        <img src="content/9140DtTDEVL._AC_SL1500_.jpg"/>
    </div>
}

@if (DisplayMagic8Ball)
{
    <Magic8BallRenderer/>
}

@code
{
    public bool DisplayMagic8Ball { get; set; }
}